body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: navy;
    background: linear-gradient(to right, lightgray, pink, whitesmoke);
    padding: 10px;
    margin: 10px;
}

/*  LOGIN STYLES */

img{
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

a{
  text-decoration: none;
  cursor: pointer;
  color: blue;
}
a:hover{
  color: red;
}
a:visited{
  color: green;
}

/* CREATE ACCOUNT */
.icon{
  left: 0%;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.container {
    background: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    /*max-width: 50vw;*/
    width: 70vw;
}

.login{
    padding: 30px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    margin: 10%;
    flex-direction: column;
}

label {
    color: black;
    font-weight: bold;
    margin: 10%;
    margin-top: 10%;
}

input {
    width: 80%;
    height: 40px;
    font-size: 100%;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-color: blue;
}

button {
    padding: 10px;
    background: linear-gradient(to right, blue, white, purple);
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.toggle{
    background: none;
    font-size: 15px;
}

.submit {
    width: 30%;
    height: 80px;
    padding: 10px;
    background: linear-gradient(to bottom, blue, purple);
    color: white;
    font-size: 40px;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.msg {
    color: red;
    width: 70vw;
    font-size: 30px;
    background-color: black;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    padding: 10px;
}


.table {
    border-collapse: collapse;
    padding: 10%;
    width: 80%;
}
		.table th{
     color: red;
     background-color: palegreen;
		    border: 3px solid black;
     font-size: 20px;
     align-items: center;
}

.table td{
    background-color: white;
    border: 3px solid black;
    padding: 10px;
}

.table-content {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border: 6px solid black;
    /*width: 100vw;*/
}

tr:nth-child(2) {
    background-color: blue;
}
tr:nth-child(4){
    background-color: lightblue;
}