<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agreements</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/styles3.css">
</head>
<body>
    <header>
        <h1>Customers' Loan Agreements</h1>
    </header>

    {% if info %}
        {% for i in info %}
            <div class="agreements">
                
                <img src="{{i.borrower_id.photo.url}}" alt="Thumbnail" onclick ="openImage(this)" width="100" class="profile-pic"><br>
                <hr>
                <span class="titles">Name:</span> {{ i.borrower_id.name }}<br>
                <hr>
                <span class="titles">Loan ID:</span> {{ i.loan_id.id }}<br>
                <hr>
                <span class="titles">Agreement ID:</span> {{ i.aggr_id.id }}<br>
                <hr>
                <span class="titles">Asset Name:</span> {{ i.asset_name }}<br>
                <hr>
                <span class="titles">Description of Asset (conditions)</span><br><br>
                {{ i.description }}<br>
                <hr>
                <span class="titles">Ownership Proof</span><br>
                <img src="{{ i.proof.url }}" alt="Thumbnail" onclick="openImage(this)" width="100"><br>
                <hr>
                <span class="titles">Asset Photo</span><br>
                <img src="{{ i.asset_photo.url }}" alt="Thumbnail" onclick="openImage(this)" width="100"> <br>
            </div>
        {% endfor %}
    {% else %}
        <h1>No agreements found for this company</h1>
    {% endif %}

    <div id="modal" onclick ="closeImage()">
             <img id="fullImage" src="">
         </div>

    <div class="short">
        <div class="addDiv">
            <a href="{% url 'app:add_borrower' %}">
                <img src="/static/images/add-loan.jpeg">
            </a>
        </div>
        <div class="repayDiv">
            <a href="{% url 'app:repayments' %}">
                <img src="/static/images/repayment-icon.png">
            </a>
        </div>
        <div class="statDiv">
            <a href="#statistics">
                <img src="/static/images/statistics-icon.png">
            </a>
        </div>
        <div class="hmDiv">
            <a href="{% url 'app:home' %}">
                <img src="/static/images/home-icon.png">
            </a>
        </div>
    </div>
    
    <br>
    <br>
    <br>
    <br>
    <script src="/static/js/script2.js"></script>
    <script>
    
    alert("This is is a test version, If you click on a certain feature and it does not respond, just know it is still under development.  Thank you.");


        function openImage(imageElement){
            document.getElementById("fullImage").src = imageElement.src;
            document.getElementById("modal").style.display = "flex";
            console.log("opened");
        }
            
            
            function closeImage(){
                document.getElementById("modal").style.display = "none";
                console.log("closed");
            }
    </script>
</body>
</html>