<!DOCTYPE html>

<html>
<head>
		<meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">
		<title>My Customers</title>
  <link rel="stylesheet" href="/static/css/styles3.css">
		
</head>

<body>
		
		
		<h1>
				My Customers' Details.
		</h1>
  {% if loan %}
		
		<input type="text" name="search" placeholder="Search customer here"> <button type="button">Search</button>
		
				<div class="table-content">
				
		<table class="table" id="myTable">
				<tr>
						<th>Photo</th>
				<th> Loan date</th>
				<th>ID</th>
				<th>Loan ID</th>
				<th>Name</th>
				<th>Phone</th>
				<th>Email</th>
				<th>Residence</th>
				<th>NIN</th>
				<th>Password</th>
				<th>Loan Balance</th>
				<th>Expiry</th>
				</tr>
				 {% for l in loan %}
				<tr>
						
						<td>
                        <img src="{{l.borrower_id.photo.url}}" alt="Thumbnail" onclick ="openImage(this)" width="100" class="profile-pic">
						</td>
				
				  
  <td>{{l.loan_Date}}</td>
						
						<td>{{l.borrower_id.id}}</td>
				  
						<td> {{l.id}} </td>
				  
									<td>{{l.borrower_id.name}}</td>
				  
				 		<td><a href="tel:{{l.borrower_id.tel}}">{{l.borrower_id.tel}}</a> </td>
				  
								<td> <a href="mailto:{{l.borrower_id.email}}">{{l.borrower_id.email}} </a> </td>
								<td> {{l.borrower_id.location}} </td>
								<td> {{l.borrower_id.NIN}} </td>
								<td> {{l.borrower_id.pin}} </td>
				  <td>{{l.balance}}</td>
				  <td id="days">{{l.last_date}}</td>
				</tr> 
		{%endfor%}
		</table>
		<!--		</div>-->
  {%else%}
  <h1>No Customer(s) found</h1>
  {%endif%}
						
						
						<div id="modal" onclick ="closeImage()">
             <img id="fullImage" src="">
   </div>
						
		
		<div class="short">
        
        <div class="addDiv">
                
              <a href="{% url 'app:add_borrower' %}"> <img src="/static/images/add-loan.jpeg"> </a>
                
        </div>
        <div class="repayDiv">
                
              <a href="{% url 'app:repayments' %}"> <img src="/static/images/repayment-icon.png"></a>
                
        </div>
        <div class="statDiv">
                
               <a href="#statistics"><img src="/static/images/statistics-icon.png"></a>
        
        </div>
        <div class="hmDiv">
                
                <a href="{% url 'app:home' %}"><img src="/static/images/home-icon.png"></a>

        </div>
        
</div>
		
		
		   <br>
    <br>
    <br>
    <br>
						  <br>
    <br>
    <br>
    <br>
		
				<script src="/static/js/script.js"></script>
	<script src="static/js/script2.js" defer></script>
		
		<script>
						
						alert("This is is a test version, If you click on a certain feature and it does not respond, just know it is still under development.  Thank you.");


		let table = document.getElementById("myTable");
let rows = table.getElementsByTagName("tr");

for(let i = 0; i<rows.length; i++){
    if(i%2 == 0){
        rows[i].style.backgroundColor = 'lightgray';
    } else{
        rows[i].style.backgroundColor = 'lightblue';
    }
}
		
		
		function openImage(imageElement){
            document.getElementById("fullImage").src = imageElement.src;
            document.getElementById("modal").style.display = "flex";
            console.log("opened");
        }
            
            
            function closeImage(){
                document.getElementById("modal").style.display = "none";
                console.log("closed");
            }
		
		
</script>
</body>
</html>