<!DOCTYPE html>

<html>
<head>
		<meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">
		<title>Hello, World!</title>
		<style>
		
		.table th{
  color: red;
  background-color: palegreen;
  font-size: 20px;
  align-items: center;
}

.table td{
  background-color: lightgray;
}

		</style>
</head>
<body>
		<h1>
				Hello!
		</h1>
  
  {% if loan %}
		
		<table class="table">
				<tr>
					<th>Pic</th>
				  <th> Loan date</th>
				<th>ID</th>
				<th>L-ID</th>
				<th>Name</th>
				<th>TEL</th>
				<th>Email</th>
				<th>Loca</th>
				<th>NIN</th>
				<th>PIN</th>
				  <th>L Amm</th>
				  <th>Rate</th>
				  <th>Pr Fee</th>
				  <th>t Amm</th>
				  <th>Dur</th>
				</tr>
		  {% for l in loan %}
				<tr>
								<td><img src="{{l.borrower_id.photo.url}}" style="width: 100px; height: 100px; border-radius: 50px;"></td>
				  <td>{{l.loan_Date}}</td>
						<td> {{l.id}} </td>
								<td>{{l.lender_id.id}}</td>
									<td>{{l.borrower_id.name}}</td>
				 		<td><a href="tel:{{l.borrower_id.tel}}">{{l.borrower_id.tel}}</a> </td>
								<td> {{l.borrower_id.email}} </td>
								<td> {{l.borrower_id.location}} </td>
								<td> {{l.borrower_id.NIN}} </td>
								<td> {{l.borrower_id.pin}} </td>
				  <td>{{l.loan_amount}}</td>
				  <td>{{l.interest_rate}}</td>
				  <td>{{l.processing_fee}}</td>
				  <td>{{l.total_amm}}</td>
				  <td>{{l.duration}} Days</td>  -->
				</tr>
		{%endfor%}
		</table>
  
  {%else%}
  <h1>No Customer(s) found</h1>
  {%endif%}
		
</body>
</html>
