<!DOCTYPE html>

<html>
<head>
		<meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">
		<title>My Customers</title>
  <link rel="stylesheet" href="/static/css/styles.css">
		<script src="/static/js/script2.js" defer></script>
		
</head>

<body>
		<h1>
				My Customers' Details.
		</h1>
  
  {% if loan %}
		
		<table class="table">
				<tr>
					<th>Photo</th>
				<th> Loan date</th>
				<th>ID</th>
				<th>Loan ID</th>
				<th>Name</th>
				<th>Phone</th>
				<th>Email</th>
				<th>Residence</th>
				<th>NIN</th>
				<th>Password</th>
				<th>Loan Balance</th>
				<th>Expiry</th>
				</tr>
		  {% for l in loan %}
				<tr>
				  
								<td><img src="{{l.borrower_id.photo.url}}" style="width: 100px; height: 100px; border-radius: 50px;"></td>
				  
				  <td>{{l.loan_Date}}</td>
						
						<td>{{l.borrower_id.id}}</td>
				  
						<td> {{l.id}} </td>
				  
									<td>{{l.borrower_id.name}}</td>
				  
				 		<td><a href="tel:{{l.borrower_id.tel}}">{{l.borrower_id.tel}}</a> </td>
				  
								<td> {{l.borrower_id.email}} </td>
								<td> {{l.borrower_id.location}} </td>
								<td> {{l.borrower_id.NIN}} </td>
								<td> {{l.borrower_id.pin}} </td>
				  <td>{{l.balance}}</td>
				  <td id="days">{{l.last_date}}</td>
				</tr>
		{%endfor%}
		</table>
  
  {%else%}
  <h1>No Customer(s) found</h1>
  {%endif%}
		
</body>
</html>
