{% extends "base2.html" %}
{% block title %} Dashboard {%endblock%}
{% block content %}

<div class="menuDiv">
        <div class="logoDiv">
                <img src="{{ lender.logo.url }}" class="logo">
        </div>
        
        1.<a href="{% url 'app:home' %}">Home</a>
        
        2.<a href="{% url 'app:add_borrower' %}">Add Loan</a>
        
        3.<a href="{% url 'app:customers' %}">My Customers</a>
        
        4.<a href="{% url 'app:loans' %}">Available Loans</a>
        
        5.<a href="{% url 'app:repayments' %}">Repayments</a>
        
        6.<a href="#statistics">Statistics</a>
        
        7.<a href="{% url 'app:aggreements' %}">Agreements</a>
        
        8.<a href="#profile">Profile</a>
        
        9.<a href="#subscriptions">Subscriptions</a>
        
        10.<a href="#report error">Report Error</a>
        
        11.<a href="#help">Help</a>
        
        12.<a href="#about">About Kimtech</a>
        
        13.<a href="{% url 'app:logout' %}">Logout</a>
        
</div>

<div class="nameDiv">
        <span class="name">{{lender.co_name}}</span>
        
</div>
<div class="summaryDiv">
        
        My ID :  {{lender.id}}
        
        <br />
        Subscription : {{lender.subscription}}.
        
        <br />
        
            Days left : {{lender.time_left}}
       
        <br />
        
            Expiry Date : {{lender.expiry}}
       <br />
            <button class="add">Add More Days</button>
        
</div>
<div class="notifDiv">
        
        <h3>Notifications</h3>
        <br />
        {% if notifications %}
        
        {% for notif in notifications %}
        
        <ul>
            <li>{{notif}}</li></li>
        </ul>
    
       {% endfor %}
       {% else %}
      <h5>No notifications found!</h5>
  						    {% endif %}
        
</div>

<div class="short">
        
        <div class="addDiv">
                
              <a href="{% url 'app:add_borrower' %}"> <img src="/static/images/add-loan.jpeg"> </a>
                
        </div>
        <div class="repayDiv">
                
              <a href="{% url 'app:repayments' %}"> <img src="/static/images/repayment-icon.png"></a>
                
        </div>
        <div class="statDiv">
                
               <a href="#statistics"><img src="/static/images/statistics-icon.png"></a>
        
        </div>
        <div class="hmDiv">
                
                <a href="{% url 'app:home' %}"><img src="/static/images/home-icon.png"></a>

        </div>
        
</div>




<!--   <aside id="menu" class="menu hidden">
        
        1.<a href="{% url 'app:home' %}">Home</a>
        
        2.<a href="{% url 'app:add_borrower' %}">Add Loan</a>
        
        3.<a href="{% url 'app:customers' %}">My Customers</a>
        
        4.<a href="{% url 'app:loans' %}">Available Loans</a>
        
        5.<a href="{% url 'app:repayments' %}">Repayments</a>
        
        6.<a href="#statistics">Statistics</a>
        
        7.<a href="{% url 'app:aggreements' %}">Agreements</a>
        
        8.<a href="#profile">Profile</a>
        
        9.<a href="#subscriptions">Subscriptions</a>
        
        10.<a href="#report error">Report Error</a>
        
        11.<a href="#help">Help</a>
        
        12.<a href="#about">About Kimtech</a>
        
        13.<a href="{% url 'app:logout' %}">Logout</a>
        
    </aside>
    
    <!-- REAL LAYOUT     
    
    
    <div class="logoDiv">
        
        
        
    </div>
    <div class="nameDiv">
        
        
    </div>
    
    <div class="menuDiv">
        <button id="menu-button"> <img src="/static/images/menu-icon.png" class="menu-icon"> </button>
        
    </div>
    
    <div class="summaryDiv">
        
        
            
        
    </div>
    
    <div class="notifDiv">
        <br />
        
    
    </div>

    <div class="short">
      ---  Shortcuts here ---
    </div>  -->

{%endblock%}