<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="static/css/styles2.css">
</head>

<body>

    
    <aside id="menu" class="menu hidden">
        <a href="{% url 'app:add_borrower' %}">Add Loan</a>
        <button class="menu-btn">Add Loan</button>
        <button class="menu-btn">View Loans</button>
        <button class="menu-btn">View Customer Info</button>
        <button class="menu-btn">Agreements & Collateral Info</button>
        <button class="menu-btn">Repayments</button>
        <button class="menu-btn">Company Profile</button>
        <button class="menu-btn">About Us</button>
        <button class="menu-btn">Help</button>
        <button class="menu-btn">Statistics</button>
        <button class="menu-btn">Subscription Status</button>
        <a href="{% url 'app:logout' %}" ><button class="menu-btn"> Logout </button> </a>
    </aside>
    
    <!-- REAL LAYOUT -->    
    
    
    <div class="logoDiv">
        
        <img src="{{ lender.logo.url }}" class="logo">
        
    </div>
    <div class="nameDiv">
        
        <span class="name">{{lender.co_name}}</span>
    </div>
    
    <div class="menuDiv">
        <button id="menu-button"> <img src="/static/images/menu-icon.png" class="menu-icon"> </button>
        
    </div>
    
    <div class="summaryDiv">
        
        
            Subscription Status : {{lender.subscription}}.
        
        <br />
        
            Days left : {{lender.time_left}}
       
        <br />
        
            Expiry Date : {{lender.expiry}}
       <br />
        <div class="addButton">
            <button class="add">Add More Days</button>
        </div>
        
    </div>
    
    <div class="notifDiv">
        <br />
        <h3>Notifications</h3>
        <hr />
        {% if notifications %}
        
        {% for notif in notifications %}
        
        <ul>
            <li>{{notif}}</li></li>
        </ul>
    
       {% endfor %}
       {% else %}
      <h5>No notifications found!</h5>
  						    {% endif %}
    
    </div>

    <div class="short">
      ---  Shortcuts here ---
    </div>

    <script src="static/js/script2.js"></script>
</body>
</html>