{% extends "base1.html" %}
{% block title %} Login {%endblock%}
{% block content %}


<div class="container">
<img src="static/images/logo.png">
		
<div class="greet" id="greet">Hi there!
		Welcome to Kimtech Records
</div>
				

<div class="login">
				<form action="{% url 'app:login' %}" method="POST">
						{%csrf_token%}
						{% if msg %}
						<span style="color: red; font-size: 10px; background-color: white;">{{msg}}</span><br>
						{%endif%}
						<div class="fields">
								Username: <br />
						
						<input type="text" name="uname" placeholder="username" id="input" required><br>
						
						Password: <br />
						
						<input type="password" name="pw" id="inputPw" placeholder="password" required>
						</div>
						
						<span>				<button type="button" onclick="show()" class="toggle">Show</button></span> <br>
						
						<button type="submit" class="submit">Login</button>
					
				</form>
</div>

<p class="create">
		Are you a Money Lender but don't have an account yet? <br />
		<a href="create_account">Click here to create a free account and enjoy free 30 days!</a>
</p>
		
</div>

<script src="/static/js/script.js"></script>
{%endblock%}