<!DOCTYPE html>

<html>
<head>
		<meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">
		<title>Hello, World!</title>
</head>
<body>
		<h1>
				Hello, login here
				
				<form action="{% url 'app:login' %}" method="POST">
						{%csrf_token%}
						{% if msg %}
						<span style="color: red;">{{msg}}</span><br>
						{%endif%}
						<input type="text" name="uname" placeholder="username" style="height: 50;  width: 400;"><br>
						<input type="password" name="pw" placeholder="password"><br>
						<input type="submit"><br>
				</form>
		</h1>
		
		{%for d in d%}
		{{d.id}} *** {{d.NIN}} *** {{d.pin}} *** {{d.lender_id.co_name}} ** {{d.lender_id.id}}<br>
		{%endfor%}
</body>
</html>
