<!DOCTYPE html>

<html>
<head>
		<meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">
		<title>Loans</title>
  <link rel="stylesheet" href="/static/css/styles3.css">
</head>

<body>
		
		    <header>
       <h1 style="font-size: 70px;">Tracked Loans</h1>
    </header>
						
				  {% if loans %}
						<table class="table" id="myTable">
								
										<tr>
												<th>Photo</th>
												<th>Borrower_ID</th>
												<th>Loan_Date</th>
												<th>Loan_Amount</th>
												<th>Interest_Rate</th>
												<th>Processing_Fee</th>
												<th>Total_Loan Amount</th>
												<th>Loan Duration</th>
										  <th>Last_Date</th>
								</tr>
					
				{% for l in loans %}
			<tr>
					
					<td>
                        <img src="{{l.borrower_id.photo.url}}" alt="Thumbnail" onclick ="openImage(this)" width="100" class="profile-pic">
						</td>
										<td>{{l.borrower_id.id}}</td>
										<td>{{l.loan_Date}}</td>
										<td>{{l.loan_amount}}</td>
										<td>{{l.interest_rate}}</td>
										<td>{{l.processing_fee}}</td>
										<td>{{l.total_amm}}</td>
										<td>{{l.duration}} day(s)</td>
			  {% if l.last_date < today %}
			  <td style="color:red;">{{l.last_date}}</td>
			  {%else%}
			  <td style="color:green;">{{l.last_date}}</td>
			  {%endif%}
			  
			</tr>
		
				{%endfor%}
					</table>
								<br /><br /><br /><br />
						  {%else%}
						  <h1>No Loan(s) found!</h1>
						  {%endif%}
								
								<div id="modal" onclick ="closeImage()">
             <img id="fullImage" src="">
    </div>
								
								
								<br>
    <br>
    <br>
    <br>
						  <br>
    <br>
    <br>
    <br>
		
		
										<div class="short">
        
        <div class="addDiv">
                
              <a href="{% url 'app:add_borrower' %}"> <img src="/static/images/add-loan.jpeg"> </a>
                
        </div>
        <div class="repayDiv">
                
              <a href="{% url 'app:repayments' %}"> <img src="/static/images/repayment-icon.png"></a>
                
        </div>
        <div class="statDiv">
                
               <a href="statistics"><img src="/static/images/statistics-icon.png"></a>
        
        </div>
        <div class="hmDiv">
                
                <a href="{% url 'app:home' %}"><img src="/static/images/home-icon.png"></a>

        </div>
        
</div>
										
<script>
								
								alert("This is is a test version, If you click on a certain feature and it does not respond, just know it is still under development.  Thank you.");


		let table = document.getElementById("myTable");
let rows = table.getElementsByTagName("tr");

for(let i = 0; i<rows.length; i++){
    if(i%2 == 0){
        rows[i].style.backgroundColor = 'lightgray';
    } else{
        rows[i].style.backgroundColor = 'lightblue';
    }
}
		
		function openImage(imageElement){
            document.getElementById("fullImage").src = imageElement.src;
            document.getElementById("modal").style.display = "flex";
            console.log("opened");
        }
            
            
            function closeImage(){
                document.getElementById("modal").style.display = "none";
                console.log("closed");
            }
		
		
</script>
</body>
</html>
