<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Repayments</title>
    <link rel="stylesheet" href="/static/css/styles3.css">
</head>


<body>
    
     <header>
       <h1>Loan Repayment History</h1>
    </header>
    
    
    {% if repayments %}
    
     <div class="table-container">
        <table class="table" id="myTable">
            <thead>
                <tr>
                    <th>Photo</th>
                    <th>Loan_Date</th>
                    <th>Borrower_ID</th>
                    <th>Loan_ID</th>
                    <th>Borrower_Name</th>
                    <th>Paid_Amount</th>
                    <th>Percentage_Paid</th>
                    <th>Days_Left</th>
                    <th>Loan_Balance</th>
                </tr>
            </thead>
    
    {% else %}
    <h1>No record(s) found!</h1>
    {% endif %}
    
            
    <tbody>
                {% for r in repayments %}
                <tr>
                    <td>
                        <img src="{{r.borrower_id.photo.url}}" alt="Thumbnail" onclick ="openImage(this)" width="100" class="profile-pic">
                    </td>
                    
                    <td>{{r.loan_id.loan_Date}}</td>
                    <td>{{r.borrower_id.id}}</td>
                    <td>{{r.loan_id.id}}</td>
                    <td>{{r.borrower_id.name}}</td>
                    <td>{{r.paid}}</td>
                    <td>{{r.percentage_paid}} %</td>
                    
                    {% if r.time_left < 0 %}
                    <td style="color: red">Expired on {{r.loan_id.last_date}} </td>
                    {% elif r.time_left == 0 %}
                    <td style="color: black; background-color: orange;">Expires today </td>
                    {% else %}
                    <td>{{r.time_left}}</td>
                    
                    {% endif %}
                    </td>
                    <td>{{r.bal}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
         
         
         <div id="modal" onclick ="closeImage()">
             <img id="fullImage" src="">
         </div>
         
    
    <h4>Register a payment below.</4>
    <div class="reForm">
        <form action="{% url 'app:repayments' %}" method="POST">
            {% csrf_token %}
            <br>
            <br>
            <label for="select">NAME:</label>
            <br>
            <br>
            <select name="id" id="select">
                {% for l in loans %}
                <option value="{{l.borrower_id.id}}">
                    <img src="{{l.borrower_id.photo.url}}" class="small-profile-pic">
                    {{l.borrower_id.name}}
                </option>
                {% endfor %}
            </select>
            <br>
            <br>
            <label for="pay">Amount Paid</label>
            <input type="text" id="pay" name="paid" placeholder="Paid amount">
            <br>
            <br>
            <button type="submit">Save</button>
            
        </form>
    </div>
         
         
    <br>
    <br>
    <br>
    <br>
         
         
    		<div class="short">
        
        <div class="addDiv">
                
              <a href="{% url 'app:add_borrower' %}"> <img src="/static/images/add-loan.jpeg"> </a>
                
        </div>
        <div class="repayDiv">
                
              <a href="{% url 'app:repayments' %}"> <img src="/static/images/repayment-icon.png"></a>
                
        </div>
        <div class="statDiv">
                
               <a href="statistics"><img src="/static/images/statistics-icon.png"></a>
        
        </div>
        <div class="hmDiv">
                
                <a href="{% url 'app:home' %}"><img src="/static/images/home-icon.png"></a>

        </div>
        
</div>
        
        
    <script>
    
    alert("This is is a test version, If you click on a certain feature and it does not respond, just know it is still under development.  Thank you.");


    
        let table = document.getElementById("myTable");
        let rows = table.getElementsByTagName("tr");

        for(let i = 0; i < rows.length; i++){
            rows[i].style.backgroundColor = i % 2 === 0 ? 'lightgray' : 'lightblue';
        }
            
            
        function openImage(imageElement){
            document.getElementById("fullImage").src = imageElement.src;
            document.getElementById("modal").style.display = "flex";
            console.log("opened");
        }
            
            
            function closeImage(){
                document.getElementById("modal").style.display = "none";
                console.log("closed");
            }
    </script>
            
            
            
</body>
</html>